<app-hero-detail [hero]="selectedHero"></app-hero-detail>
<h2>My Herois</h2>
<ul class="heroes">
    <li *ngFor="let hero of hero" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
</ul>