<table class="table table-borderless">
    <thead>
        <tr>
            <th class="col">#</th>
            <th class="col">Nome</th>
            <th class="col">Profissão</th>
            <th class="col">Desempregado</th>
        </tr>
    </thead>
    <tbody>
        <tr scope="row" *ngFor="let pessoa of pessoas; let i = index">
            <th>{{i + 1}}</th>
            <td>{{pessoa.nome}}</td>
            <td>{{pessoa.profissao}}</td>
            <td *ngIf="pessoa.desemprego === true">Sim</td>
            <td *ngIf="pessoa.desemprego === false">Não</td>
        </tr>
    </tbody>
</table>